<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Preencha o form</h1>
    <form method="POST" action="{{ url_for('homepage') }}">
        <h3>Link Origem</h3>
        <input type="url" placeholder="Link Origem" name="link_origem" required>
        <h3>Caminho Destino (formato URL)</h3>
        <input type="text" placeholder="Link Encurtado" name="caminho_destino" required>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>